:root{
	--bodytxt: #ffffff;
	--link: #e6a964;
	--linkhover: #df710a;
  --header: #e6a964;
  --subheader: #fff569;
  --subheader2: #30ece0;
  --title: #23c4ff;
	
	--mainbg: #163579;
  --charbg: #04224e;
  --border: #e6a964;
  --quote: #e6a964;

  --boxshadow: rgba(13, 9, 10, 0.7);
}
body {
  background-color: #29191f;
  background-image: url('res/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--bodytxt);
  font-family: Verdana;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/* HEADER */
header {
  background: linear-gradient(to right, var(--mainbg) 0%, rgba(0, 0, 0, 0) 40%), url('res/cover_mono.png');
  background-size: 50%;
  background-position: right 30%;
  background-color: var(--mainbg);
  background-repeat: no-repeat;
  border: var(--border) 2px solid;
  border-radius: 10px 10px 0px 0px;
  margin-bottom: 10px;
  padding: 15px;
  box-shadow: -10px 10px 5px var(--boxshadow);
}
.header-link {
  font-weight: bold;
  text-decoration: none;
}
.landing-main {
  background-color: initial;
  border: initial;
  box-shadow: initial;
  border-radius: initial;
  padding: initial;
  display: grid;
  grid-template-columns: auto auto
}
main {
  background-color: var(--mainbg);
  border: var(--border) 2px solid;
  border-radius: 0px;
  padding: 15px;
  box-shadow: -10px 10px 5px var(--boxshadow);
}
.landing-container {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
  width: 760px;
}
.landing-textbox {
  margin-right: 20px;
  background-color: var(--mainbg);
  border: var(--border) 2px solid;
  padding: 15px;
  box-shadow: -10px 10px 5px var(--boxshadow);
  border-radius: 10px;
  max-width: 100%;
}
.landing-navbox {
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
  font-size: 1.4rem;
  margin-bottom: 20px;
}
.landing-navbox a {
  background-color: var(--mainbg);
  border: var(--border) 2px solid;
  padding: 15px;
  box-shadow: -10px 10px 5px var(--boxshadow);
  border-radius: 10px;
}
.index-img {
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  box-shadow: -10px 10px 5px var(--boxshadow);
}
.index-img img {
  width: inherit;
  box-shadow: -10px 10px 5px var(--boxshadow);
}
footer {
  display: flex;
  background-color: var(--mainbg);
  border: var(--border) 2px solid;
  border-radius: 0px 0px 10px 10px;
  padding: 15px;
  margin-top: 10px;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: -10px 10px 5px var(--boxshadow);
}
hr {
  color: var(--link);
}
.char-tab hr {
  width: 100%
}
/* HEADINGS */
h1 {
  color: var(--header);
  font-size: 2.4rem;
  margin-bottom: 5px;
  font-weight: normal;
  font-variant-caps: all-small-caps;
}
h2 {
  color: var(--subheader);
  font-size: 2.2rem;
  margin-bottom: 5px;
  font-weight: normal;
  font-variant-caps: all-small-caps;
}
h3 {
  color: var(--subheader2);
  font-size: 2.0rem;
  margin-bottom: 5px;
  font-weight: normal;
  font-variant-caps: all-small-caps;
}
/* LINKS */
h1 a {
  color: var(--title);
}
h1 a:hover {
  color: var(--link);
}
h2 a {
  color: var(--subheader);
}
h2 a:hover {
  color: var(--linkhover);
}
a {
  color: var(--link);
}
a:hover {
  color: var(--linkhover);
}
/* DETAILS + SUMMARY TOGGLE */
details > summary {
  list-style-type: '✦';
}
details[open] > summary {
  list-style-type: '✧';
}
/* FOOTER CLASSES */
.signature {
  margin-top:25px;
  font-weight: bold;
  color:#40ccff;
  text-align: center;
  filter: drop-shadow(2px 2px 4px rgb(0, 0, 0));
}
.blockquote {
  border-left: 3px var(--quote) solid;
  padding-left: 10px;
  margin: 10px 5px;
}

.secret-link {
  text-decoration: none !important;
  color: inherit !important;
  cursor: initial !important;
}

/* LANDING PAGE CHARACTER */
.story-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 10px;
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  align-items: center;
}
.char-link {
  max-width: 100%;
  max-width: 100%;
  position: relative;
  z-index: 1;
}
.char-link:hover {
  cursor: pointer;
  outline: 5px solid var(--link);
  z-index: 10;
}
.char {
  display: flex;
  flex-direction: column;
  justify-content: center;
} 
.char hr {
  margin-left: 10px;
  margin-right: 10px;
}
.char-name {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.char-name span {
  color: var(--header);
  font-size: 2.2rem;
  letter-spacing: 0.2rem;
  text-shadow: -2px 2px 2px var(--linkhover);
}
.overall-head {
  text-align: center;
  font-size: 1.8rem !important;
  letter-spacing: 0.1rem;
}
.char-name img {
  max-width: 160px;
}

/* TABS */
.char-tab {
  display: none;
}
.active.char-tab {
  display: flex;
  flex-direction: column;
}

/* LUNCHTIME */
.lunchtime-char {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px
}

/* GALLERY */
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 5px;
}
.gallery-img {
  height: 140px;
  text-align: center;
  outline: 3px solid #36436e;
  outline-offset: -3px;
  background-color: #29191f6e;
  margin-bottom: 20px
}
.gallery-img:hover {
  cursor: pointer;
}
.gallery-img img {
  height: 100%;
  width: auto;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  z-index: 10;
  overflow: auto;
  width: 100%;
  height: 100%;
}
.modal-overlay {
  background-color: #00000081;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}
.modal-content {
  position: relative;
  max-width: 85%;
  max-height: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.modal-content img {
  max-width: 100%;
  max-height: 100%;
}
.modal-caption {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  background-color: var(--mainbg);
  padding: 10px;
  color: var(--bodytxt);
  width: 70%;
  margin: 10px auto;
  border-radius: 10px;
  border: 2px solid var(--charbg);
  z-index: 10px;
}
.modal-credit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.modal-btn {
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s ease;
  color: var(--link);
  padding: 5px 11px 8px 11px;
  z-index: 15;
}
.modal-btn:hover, .close:focus {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}
#prev-btn, #next-btn {
  display: flex;
  align-items: center;
  flex-grow: 1;
  height: 100%;
  justify-content: start;
}
#next-btn {
  justify-content: end;
}

.close {
  position: absolute;
  top: 10px;
  left: 10px;
}

@media (max-width: 1000px) {
  .landing-container {
    width: 100%
  }
  .landing-main {
    display: flex;
    flex-direction: column-reverse
  }
  .index-img, .landing-textbox {
    margin-left: 0;
    margin-right: 0;
    margin-top: 10;
    margin-bottom: 10px;
  }
  .index-img {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* MOBILE ONLY */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    height: auto;
  }
  h1 {
    font-size: 2.2rem;
  }
  .landing-container {
    width: 100%
  }
  .landing-main {
    display: flex;
    flex-direction: column-reverse
  }
  .index-img, .landing-textbox {
    margin-left: 0;
    margin-right: 0;
    margin-top: 10;
    margin-bottom: 10px;
  }
  .index-img {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .landing-navbox {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    font-size: 1.0rem;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .landing-navbox a {
    background-color: var(--mainbg);
    border: var(--border) 2px solid;
    padding: 15px;
    box-shadow: -10px 10px 5px var(--boxshadow);
    border-radius: 10px;
  }
  footer {
  flex-direction: column;
  gap: 5px;
  }
  footer span {
    order: -1;
  }
  .story-grid {
    max-width: initial;
  }
  .char-name span {
    font-size: 1.8rem;
    text-shadow: -1px 1px 1px var(--linkhover);
  }
  .char-name img {
    max-width: 100px;
  }

  .gallery-img {
    height: 110px;
  }
  .modal-caption {
    width: 100%;
    max-width: 100%;
  }
  .modal-content {
    max-width: 100%;
    margin-bottom: 50px;
    margin-top: 70px;
    display: grid !important;
    grid-template-columns: auto auto;
  }
  #modal-image {
    grid-column-start: 1;
    grid-column-end: 3;
    order: -1;
    margin-left: auto;
    margin-right: auto;
  }
  .lunchtime-char {
    grid-template-columns: auto;
  }
  
}
/* SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #140a03;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #c5ab92;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #bd8f89;
}
/* HEADER TEXT OUTLINE */
.text-outline {
  text-shadow: 
  rgb(0, 0, 0) 3px 0px 0px, 
  rgb(0, 0, 0) 2.83487px 0.981584px 0px, 
  rgb(0, 0, 0) 2.35766px 1.85511px 0px, 
  rgb(0, 0, 0) 1.62091px 2.52441px 0px, 
  rgb(0, 0, 0) 0.705713px 2.91581px 0px, 
  rgb(0, 0, 0) -0.287171px 2.98622px 0px, 
  rgb(0, 0, 0) -1.24844px 2.72789px 0px, 
  rgb(0, 0, 0) -2.07227px 2.16926px 0px, 
  rgb(0, 0, 0) -2.66798px 1.37182px 0px, 
  rgb(0, 0, 0) -2.96998px 0.42336px 0px, 
  rgb(0, 0, 0) -2.94502px -0.571704px 0px, 
  rgb(0, 0, 0) -2.59586px -1.50383px 0px, 
  rgb(0, 0, 0) -1.96093px -2.27041px 0px, 
  rgb(0, 0, 0) -1.11013px -2.78704px 0px, 
  rgb(0, 0, 0) -0.137119px -2.99686px 0px, 
  rgb(0, 0, 0) 0.850987px -2.87677px 0px, 
  rgb(0, 0, 0) 1.74541px -2.43999px 0px, 
  rgb(0, 0, 0) 2.44769px -1.73459px 0px, 
  rgb(0, 0, 0) 2.88051px -0.838247px 0px;
}