body {
  background-color: #0d3955;
  color: #0d3955;
  font-family: Verdana;
}
header {
  max-width: 900px;
  background-image: linear-gradient(#59d478 80%, #e7f5e5 80%, #e7f5e5 85%, #59d478 85%, #59d478 90%, #e7f5e5 90%, #e7f5e5 95%, #59d478 95%, #59d478 98%, #e7f5e5 98%);
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  border-radius: 15px 15px 0px 0px;
  box-shadow: -10px 10px 5px rgba(8, 17, 68, 0.5);
  border-top: 5px #22a4a8 solid;
  border-left: 5px #22a4a8 solid;
  border-right: 5px #22a4a8 solid;
}
nav {
  max-width: 900px;
  background-color:#e7f5e5;
  box-shadow: -10px 10px 5px rgba(8, 17, 68, 0.5);
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px;
  border-left: 5px #22a4a8 solid;
  border-right: 5px #22a4a8 solid;
}
main {
  max-width: 900px;
  background-color: #e7f5e5;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  border-radius: 0px;
  box-shadow: -10px 10px 5px rgba(8, 17, 68, 0.5);
  border-left: 5px #22a4a8 solid;
  border-right: 5px #22a4a8 solid;
}
footer {
  max-width: 900px;
  background-color: #53c770;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  border-radius: 0px 0px 15px 15px;
  box-shadow: -10px 10px 5px rgba(8, 17, 68, 0.5);
  border-left: 5px #22a4a8 solid;
  border-right: 5px #22a4a8 solid;
  border-bottom: 5px #22a4a8 solid;
}
/* HEADINGS */
h1 {
  color: #096b86;
  font-size: 2.5rem;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: normal;
  font-variant-caps: all-small-caps;
}
h2 {
  color: #00a1a1;
  font-size: 2.3rem;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: normal;
  font-variant-caps: all-small-caps;
}
h3 {
  color: #0aa85f;
  font-size: 2.0rem;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: normal;
  font-variant-caps: all-small-caps;
}
h4 {
  color: #20c543;
  font-size: 1.7rem;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: normal;
  font-variant-caps: all-small-caps;
}
h5 {
  color: #9fc01b;
  font-size: 1.4rem;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: normal;
  font-variant-caps: all-small-caps;
}
/* LINKS */
h1 a {
  color: #096b86;
  text-decoration: underline wavy #59d478;
}
h1 a:hover {
  color: #128eb1;
}
h2 a {
  color: #00a1a1;
  text-decoration: underline wavy #59d478;
}
h2 a:hover {
  color: #12c7c7;
}
h3 a {
  color: #0aa85f;
  text-decoration: underline wavy #59d478;
}
h3 a:hover {
  color: #1dcc7a;
}
h4 a {
  color: #20c543;
  text-decoration: underline wavy #59d478;
}
h4 a:hover {
  color: #49eb6c;
}
h5 a {
  color: #9fc01b;
  text-decoration: underline wavy #59d478;
}
h5 a:hover {
  color: #bddd3c;
}
a {
  color: #0aa85f;
}
a:hover {
  color: #1dcc7a;
}
/* CUSTOM CLASSES */
.site-head a {
  color: #f9ff59
}
.site-head a:hover {
  color: #ffffff;
}
.navlinks {
  display:flex; 
  flex-direction:row;
  justify-content:space-around;
  padding:5px;
}
.navlinks div {
  background-color:#79d9ff;
  padding: 10px;
  border:3px #22a4a8 solid;
  border-radius: 10px;
  margin-bottom: 5px;
}
.navlinks h5 {
  margin-bottom:-3px;
  margin-top:-10px;
}
.navlinks a {
  color: #e3ff64;
}
.navlinks a:hover {
  color: #f6ffcd;
}
.grid-box {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.grid-index {
  display: grid;
  grid-template-columns: 70% 30%;
}
.grid-item {
  text-align: center;
  padding: 15px;
}
.grid-item img{
  border: 4px #22a4a8 solid;
}
/* GALLERY MODAL */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  position: relative;
  background-color: transparent;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}
.slides {
  display: none;
}
.pointer {
  cursor: pointer;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 35%;
  margin-top: -50px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 25px;
  user-select: none;
  -webkit-user-select: none;
}
.next {
  right: 0;
}
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}
/* MOBILE ONLY */
@media (max-width: 700px) {
  .hide-mobile {
    display: none;
  }
  .grid-box {
    display: grid;
    grid-template-columns: auto auto;
  }
  .grid-index {
    display: grid;
    grid-template-columns: auto;
  }
  .navlinks {
    flex-direction:column;
    justify-content:space-around;
    text-align:center;
  }
  .navlinks h5 {
  margin-bottom:0px;
  margin-top:0px;
  }
}