/* MAIN SITE */
body {
  background-color: #2b153a;
  background-image: url("res/background.png");
  background-position: center;
  color: #000000;
  font-family: Arial;
}
header {
  max-width: 1000px;
  background-color: #411157;
  margin: 25px auto;
  padding: 15px;
  border-radius: 10px;
  border: 8px double #000000;
  box-shadow: -8px 8px 5px rgba(8, 17, 68, 0.3);
}
main {
  max-width: 1000px;
  background-color: #bfb4c2;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  border-radius: 10px;
  border: 8px double #000000;
  box-shadow: -8px 8px 5px rgba(8, 17, 68, 0.3);
}
/* HEADINGS */
h1 {
  color: #411157;
  font-size: 2.5rem;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: normal;
  font-variant-caps: all-small-caps;
}
h2 {
  color: #3e0a83;
  font-size: 2.3rem;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: normal;
  font-variant-caps: all-small-caps;
}
h3 {
  color: #5c4db4;
  font-size: 2.0rem;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: normal;
  font-variant-caps: all-small-caps;
}
h4 {
  color: #50cdff;
  font-size: 1.7rem;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: normal;
  font-variant-caps: all-small-caps;
}
h5 {
  color: #8fffdd;
  font-size: 1.4rem;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: normal;
  font-variant-caps: all-small-caps;
}

/* HEADER */
header a {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
}
header a:hover {
  color: #ca2020;
  background-color: transparent;
}
header a:hover:before, header a:hover:after {
  content: "✨";
}
a {
  color: #6c1eff;
}
a:hover {
  color: #ca2020;
}
.navlinks {
  display:flex; 
  flex-direction:row;
  justify-content:space-around;
}

.highlight {
  font-weight: bold;
  color: #411157;
}
.char-name {
  padding: 10px;
  border: 5px double #000000;
  border-radius: 10px;
  background-color: #bfb4c2;
  position: absolute;
  top: -70px;
  left: -50px;
  font-style: italic;
  font-weight: bold;
  font-size: 1.5em;
  color: #411157;
}
.char-image {
  border: 5px double #000000;
  border-radius: 10px;
  background-color: #bfb4c2;
  position: absolute;
  left: -50px;
  top: 0px;
  height: 400px;
  width: 250px;
  background-size: cover;
  background-repeat: no-repeat;
}
.char-desc {
  border: 5px double #000000;
  border-radius: 10px;
  padding: 10px;
  
/*   max-width: 50%;
  margin: 30px auto; */
}
.char-stats {
  border: 5px double #000000;
  border-radius: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: 40% 60%;
  height: fit-content;
  gap: 10px 0px;
}
/* MOBILE ONLY */
@media (max-width: 768px) {
  .navlinks {
    flex-direction:column;
    justify-content:space-around;
    text-align:center;
  }
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #081144;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #ffab4a;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffd494;
}