body {
  background-color: #29191f;
  background-image: url('res/tiled_bg.png');
  background-repeat: repeat;
  background-size: 300px;
  color: #FFFFFF;
  font-family: Verdana;
}
header {
  max-width: 1200px;
  background-image:url('res/party_banner.png');
  margin: 25px auto 0px auto;
  padding: 110px 15px 1px 15px;
  border-radius: 0px;
  box-shadow: -10px 10px 5px rgba(13, 9, 10, 0.5);
  background-size:cover;
  background-position:80% 22%;
  background-repeat:no-repeat;
}
nav {
  max-width: 1200px;
  background-color: #36436e;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  box-shadow: -10px 10px 5px rgba(13, 9, 10, 0.5);
  outline: 2px solid #62709c;
  outline-offset: -8px;
  display: flex;
  justify-content: space-around;
}
main {
  max-width: 1200px;
  background-color: #242b42;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  border-radius: 0px;
  box-shadow: -10px 10px 5px rgba(13, 9, 10, 0.5);
}
footer {
  max-width: 1200px;
  background-color: #36436e;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  border-radius: 0px;
  box-shadow: -10px 10px 5px rgba(13, 9, 10, 0.5);
  outline: 2px solid #62709c;
  outline-offset: -8px;
}
/* HEADINGS */
h1 {
  color: #40ccff;
  font-size: 2.5rem;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: normal;
  font-variant-caps: all-small-caps;
}
h2 {
  color: #2b71d9;
  font-size: 2.3rem;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: normal;
  font-variant-caps: all-small-caps;
}
h3 {
  color: #1fccc1;
  font-size: 2.0rem;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: normal;
  font-variant-caps: all-small-caps;
}
h4 {
  color: #c77314;
  font-size: 1.7rem;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: normal;
  font-variant-caps: all-small-caps;
}
h5 {
  color: #d9aa29;
  font-size: 1.4rem;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: normal;
  font-variant-caps: all-small-caps;
}
h2.page-heading {
  text-align:center;
  letter-spacing:0.8rem;
  font-size: 2.0rem;
  text-shadow: 0.5px 0.5px 3px #ad7f6f, -0.5px -0.5px 3px #ad7f6f, 0.5px -0.5px 3px #ad7f6f, -0.5px 0.5px 3px #ad7f6f;
  font-variant-caps: normal;
  z-index:11;
  position:relative;
  top:0px;
  left:0px;
}
.grid-main h2, .grid-main h3, .grid-main h4, .grid-main h5 {
  color: #593d20;
}
/* LINKS */
h1 a {
  color: #40ccff;
}
h1 a:hover {
  color: #a8c9f5;
}
h2 a {
  color: #2b71d9;
}
h2 a:hover {
  color: #6287ff;
}
h3 a {
  color: #1fccc1;
}
h3 a:hover {
  color: #76e9fd;
}
h4 a {
  color: #c77314;
}
h4 a:hover {
  color: #da9d2d;
}
h5 a {
  color: #d9aa29;
}
h5 a:hover {
  color: #f5e451;
}
a {
  color: #f7cc65;
}
a:hover {
  color: #b5e3f5;
}
.site-head a:hover {
  color: #ffbd38;
}
/* DETAILS + SUMMARY TOGGLE */
.toggle-header {
  color: #593d20;
  font-size: 1.7rem;
  font-weight: normal;
  font-variant-caps: all-small-caps;
  cursor: pointer;
}
details > summary {
  list-style-type: '✦';
}
details[open] > summary {
  list-style-type: '✧';
}
/* CUSTOM CLASSES */
/* TOP OF PAGE */
.top-link {
  color: #f7cc65;
}
.top-link:hover {
  cursor: pointer;
  color: #b5e3f5;
}
/* HEADER CLASSES */
.drop-button{
  border: none;
  color: #db8523;
  background-color: transparent;
  font-size: 1.7rem;
  font-variant-caps: all-small-caps;
}
.drop-button a{
  color: #db8523;
  text-decoration: none;
}
.drop-button a:hover{
  color: #ffbd38;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #62709c;
  outline: 2px solid #a7b5e2;
  outline-offset: -6px;
  padding: 6px 0px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 12;
  left: 50% !important;
  right: auto !important;
  text-align: center !important;
  transform: translate(-50%, 0) !important;
}
.dropdown-content a {
  padding: 5px 10px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #36436e;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .drop-button {
  color: #ffbd38;
}
.georgia {
  font-family: Georgia;
}
/* FOOTER CLASSES */
.signature {
  margin-top:25px;
  font-weight: bold;
  color:#40ccff;
  text-align: center;
}
/* TOP CRUMB */
.crumb {
  list-style: none;
  padding: 0px;
  margin: 0px 0px 15px 0px;
}
.crumb li {
  display: inline;
  font-size: 0.75rem;
}
.crumb li+li:before {
  content: "\003E";
  padding:5px;
}
.grid-charbook {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 550px;
  margin: 15px 80px;
  border-radius: 5px
}
.char-spine {
  background-color: #1a0e0c;
  height: 100%;
}
.char-page {
  height: 100%;
  background-color: #cfbba1;
  box-shadow:inset 0px 0px 50px #47221a;
  color: #593d20;
  border: 10px solid #1a0e0c;
}

.grid-box {
  display: grid;
  grid-template-columns: 27% 73%;
  height: 500px;
  margin-bottom: 15px
}
.grid-main {
  height: 100%;
  padding: 10px 30px;
  background-color: #cfbba1;
  box-shadow:inset 0px 0px 50px #47221a;
  border-radius: 0px 5px 5px 0px;
  color: #593d20;
  outline: 1px solid #2e281e;
  outline-offset: -5px;
}
/* SIDEBAR FORMATTING */
.sidebar {
  background-color: #d1c9a7;
  box-shadow:inset 0px 0px 40px #7d6b45;
  padding: 10px 15px;
  font-size: 0.9rem;
  border-radius: 5px 0px 0px 5px;
  outline: 1px solid #2e281e;
  outline-offset: -5px;
  height: 100%;
}
.sidebar-collapse {
  color:#47221a;
  margin-top: 15px
}
.sidebar-list {
  list-style: none;
  padding: 0px;
  max-height: 75%;
  overflow: auto;
}
.sidebar-link {
  cursor: pointer;
  color: #593d20;
  text-decoration: none;
}
.sidebar-link:hover {
  color:#96614b;
}
.mobile-collapse {
  display: initial;
}

/* GALLERY */
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 5px;
}
.gallery-img {
  height: 160px;
  width: fit-content;
  transition: transform 0.25s ease;
  text-align: center;
  outline: 3px solid #36436e;
  outline-offset: -3px;
  background-color: #29191f6e;
  margin-bottom: 20px
}
.gallery-img:hover {
  cursor: pointer;
}
.gallery-img img {
  height: 100%;
  width: auto;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #00000081;
  max-height: 100%;
}
.modal-content {
  position: relative;
  background-color: #62687c;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}
.slide {
  display: none;
  text-align: center;
}
.slide img {
  max-height: 700px;
  max-width: 1200px
}
.close {
  color: #40ccff;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s ease;
  padding: 5px 11px 8px 11px;
}
.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #40ccff;
  font-weight: bold;
  transition: 0.4s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  font-size: 35px;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.caption {
  text-align: center;
  background-color: #242b42;
  padding: 2px 16px;
  color: white;
}
.credit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



/* CHARACTER TAB FORMATTING */
.tab-content {
  display: none;
}
.active.tab-content {
  display: block;
}
.char-header {
  background:linear-gradient(to right, rgba(170, 127, 34, 0) 0%, rgba(170, 127, 34, 0.8) 10%, rgba(170, 127, 34, 0.8) 90%, rgba(170, 127, 34, 0) 100%);
  padding: 5px 0px
}
.grid-main p, .grid-main li, .lined-text {
  background: linear-gradient(0deg, rgba(92, 57, 30, 0.7) 1.92%, transparent 1.92%, transparent 50%, rgba(92, 57, 30, 0.7) 50%, rgba(92, 57, 30, 0.7) 51.92%, transparent 51.92%, transparent 100%);
  background-size: 42.00px 42.00px;
  line-height: 21px
}
.char-bio-grid {
  display: grid;
  grid-template-columns: auto auto;
}

.char-text {
  padding-right:10px;
  max-height: 345px;
  overflow: auto;
  scrollbar-width: none;
}
.stat-name {
  grid-column-start:2;
  grid-column-end:4
}
.stat-grid-1 {
  display: grid;
  grid-template-columns: 20% 40% 40%;
  grid-template-rows: auto auto;
  align-items:center;
  gap: 10px;
}
.stat-grid-2 {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items:center;
  gap: 10px;
}
.stat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* HORIZONTAL LINES */
.hr-dark {
  background: linear-gradient(to right, rgba(92, 57, 30, 0) 0%, rgba(92, 57, 30, 1) 20%, rgba(92, 57, 30, 1) 80%, rgba(92, 57, 30, 0) 100%);
  height: 3px;
  border: 0px;
}
.hr-light {
  background: linear-gradient(to right, rgba(92, 57, 30, 0) 0%, rgba(92, 57, 30, 0.5) 20%, rgba(92, 57, 30, 0.5) 80%, rgba(92, 57, 30, 0) 100%);
  height: 3px;
  border: 0px;
  margin-left: 10px;
  margin-right: 10px;
}
.hr-char {
  background-color:#a3875a;
  height: 2px;
  border: 0;
  margin: 5px 0px;
}
.button-swap-bg {
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, #47221a83 40%, #47221a83 60%, rgba(0, 0, 0, 0) 100%);
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 5px;
}
/* WORLD PAGE */
.world-index {
  padding: 10px 30px;
  background-color: #d1c9a7;
  box-shadow:inset 0px 0px 40px #7d6b45;
  border-radius: 5px 5px 0px 0px;
  outline: 1px solid #2e281e;
  outline-offset: -5px;
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color:#47221a;
  font-size: 1.2rem;
  font-variant: small-caps;
}

.world-main-box {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0px 0px 5px 5px;
}
/* CHAR IMAGE */
.splash-shadow {
  filter: drop-shadow(0px 0px 7px rgb(51, 25, 19));
  height: 300px;
  z-index: 5;
}
.img-taped {
  border: 3px #e8d8cf solid;
  box-shadow: -4px 5px 7px rgba(71, 34, 26, 0.2);
  background-color:#d1b7a5;
  padding: 5px;
}
.tape {
  position: relative;
  z-index: 6;
}
.tape-side:before {
  content: "";
  height: 20px;
  width: 70px;
  background-color: rgba(255, 255, 255, .3);
  position: absolute;
  top: -10px;
  left: 40%;
  transform: translateX(-30%) translateY(10%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}
.tape.tape-top:before,.tape-corner:before {
  content: "";
  height: 20px;
  width: 65px;
  background-color: rgba(255, 255, 255, .3);
  position: absolute;
  top: 0px;
  left: -5px;
  transform: translateX(-30%) translateY(10%) rotate(-45deg);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}
.tape.tape-top:after {
  content: "";
  height: 20px;
  width: 65px;
  background-color: rgba(255, 255, 255, .3);
  position: absolute;
  top: 5px;
  right: -45px;
  transform: translateX(-30%) translateY(10%) rotate(45deg);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}
.tape.tape-bottom:before {
  content: "";
  height: 20px;
  width: 65px;
  background-color: rgba(255, 255, 255, .3);
  position: absolute;
  bottom: 5px;
  left: -5px;
  transform: translateX(-30%) translateY(10%) rotate(45deg);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}
.tape.tape-bottom:after {
  content: "";
  height: 20px;
  width: 65px;
  background-color: rgba(255, 255, 255, .3);
  position: absolute;
  bottom: 0px;
  right: -45px;
  transform: translateX(-30%) translateY(10%) rotate(-45deg);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}
.img-mobile {
  padding:10px 0px
}
.profile-img-mobile {
  padding-top: 10px;
}
/* MISC DECOR */
.right-decor {
  position: absolute;
  left: 70%; 
  top:10px;
  background-image:url('res/box_decor.png');
  height: 100%;
  width: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index:9;
}
.left-decor {
  position: absolute;
  right: 70%; 
  top:10px;
  background-image:url('res/box_decor.png');
  height: 100%;
  width: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index:9;
  transform: scaleX(-1);
}
.char-decor {
  position: absolute;
  background-image:url('res/list_decor.png');
  height: 10%;
  width: 130px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  top:740px;
}
/* HEIGHT FIXES */
.info-height {
  height: 72%;
}
/* SPOILER TEXT SWAP */
.spoiler {
  display: none;
}

/* MOBILE ONLY */
@media (max-width: 768px) {
  .drop-button {
    font-size: 1.2rem;
  }
  .dropdown-content a {
    font-size: 0.8rem;
  }
  .img-mobile {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  .profile-img-mobile {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
  }
  .char-bio-grid,.stat-grid-1,.stat-grid-2,.grid-box {
    grid-template-columns: auto;
  }
  .grid-charbook {
    grid-template-columns: auto;
    margin: 0px
  }
  .stat-name {
    grid-column-start: auto;
    grid-column-end: auto
  }
  .char-decor {
    display:none;
  }
  .sidebar {
    margin-right: 0px;
    margin-bottom: 15px;
    border-radius: 5px 5px 0px 0px;
  }
  .world-index {
    flex-direction: column;
    align-items: center;
    border-radius: 5px 5px 0px 0px;
  }
  .sidebar-list {
    max-height: 200px;
    overflow: auto;
  }
  .grid-main, .world-main-box {
    border-radius: 0px 0px 5px 5px;
    width: initial
  }
  .mobile-collapse {
    display: block;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .sidebar-collapse {
    cursor: pointer;
    text-decoration: none;
    color:#47221a;
    margin-top: none;
  }
  .sidebar-collapse:hover {
    color:#e7bf82;
  }
  .right-decor, .right-decor.larger {
    left: 65%;
    top: 15px;
    width: 110px;
  }
  .left-decor, .left-decor.larger {
    right: 65%;
    top: 15px;
    width: 110px;
  }
  .grid-box,.info-height {
    height: initial;
  }
  .sidebar-mobile {
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
  }
  .splash-shadow {
    height: 100%;
    width: 100%;
  }
  .gallery-img {
    height: 110px;
  }
  .slide img {
    max-width: 340px;
    max-height: 600px;
  }
  .modal-content {
    top: 10%;
    font-size: 0.8em;
  }
  
}
/* SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #140a03;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #c5ab92;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #bd8f89;
}
/* HEADER TEXT OUTLINE */
.text-outline {
  text-shadow: 
  rgb(0, 0, 0) 3px 0px 0px, 
  rgb(0, 0, 0) 2.83487px 0.981584px 0px, 
  rgb(0, 0, 0) 2.35766px 1.85511px 0px, 
  rgb(0, 0, 0) 1.62091px 2.52441px 0px, 
  rgb(0, 0, 0) 0.705713px 2.91581px 0px, 
  rgb(0, 0, 0) -0.287171px 2.98622px 0px, 
  rgb(0, 0, 0) -1.24844px 2.72789px 0px, 
  rgb(0, 0, 0) -2.07227px 2.16926px 0px, 
  rgb(0, 0, 0) -2.66798px 1.37182px 0px, 
  rgb(0, 0, 0) -2.96998px 0.42336px 0px, 
  rgb(0, 0, 0) -2.94502px -0.571704px 0px, 
  rgb(0, 0, 0) -2.59586px -1.50383px 0px, 
  rgb(0, 0, 0) -1.96093px -2.27041px 0px, 
  rgb(0, 0, 0) -1.11013px -2.78704px 0px, 
  rgb(0, 0, 0) -0.137119px -2.99686px 0px, 
  rgb(0, 0, 0) 0.850987px -2.87677px 0px, 
  rgb(0, 0, 0) 1.74541px -2.43999px 0px, 
  rgb(0, 0, 0) 2.44769px -1.73459px 0px, 
  rgb(0, 0, 0) 2.88051px -0.838247px 0px;
}