/* MAIN SITE */
body {
  background-color: #000000;
  color: #FFFFFF;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.wrapper {
  outline: 3px solid #2e1333;
  outline-offset: 8px;
  width: 900px;
  margin: auto;
}
header {
  max-width: 900px;
  background-color: #2e1333;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}
main {
  max-width: 900px;
  background-color: #48264e;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}
nav {
  max-width: 900px;
  background-color: #0c4b9e;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}
.emphasis {
  font-style: italic;
  color: #ff9ff2
}
hr {
  color: #ff9ff2
}
/* HEADINGS */
h1, h1 a {
  color: #ee2076;
  padding-bottom: 10px;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: normal;
  font-variant-caps: small-caps;
  letter-spacing: 0.3rem;
}
h2 {
  color: #ee2076;
  font-size: 2.3rem;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: normal;
  font-variant-caps: small-caps;
}
h3 {
  color: #f8428e;
  font-size: 2.0rem;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: normal;
  font-variant-caps: small-caps;
}
/* LINKS */
h1 a:hover {
  color: #ffa4ca;
}
h2 a {
  color: #ffc94d;
  text-decoration: underline #ffffff dashed;
}
a {
  color: #ff5da0;
}
a:hover {
  color: #ffa4ca;
}

/* CLASSES */
.navlinks {
  display:flex; 
  flex-direction:row;
  justify-content:space-around;
  padding:5px;
}
/* MOBILE ONLY */
@media (max-width: 768px) {
  .wrapper {
    width: auto
  }
  .navlinks {
    flex-direction:column;
    justify-content:space-around;
    text-align:center;
  }
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #081144;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #ffab4a;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffd494;
}