:root{
	--bodytxt: #ffffff;
	--link: #ecbd3b;
	--linkhover: #b5e3f5;
  --navlink: #739ec7;
  --header: #48ceff;
  --header2: #608be7;
	
  --field: #5f8ab3;
	
	--bodybg: #29191f;
	--mainbg: #242b42;
  --notebg: #404f81;
}

body {
  background-color: var(--bodybg);
  background: url('res/sanvenbg.png');
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--bodytxt);
  font-family: Verdana;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: end;
  background:linear-gradient(to right, var(--mainbg) 0%, rgba(0, 0, 0, 0) 40%), url('https://f2.toyhou.se/file/f2-toyhou-se/images/74660393_wAGTSoUJuvB03Ri.png');
  background-size: 50%;
  background-position: right 30%;
  background-color: var(--mainbg);
  background-repeat:no-repeat;
  height: 120px;
  padding: 15px;
  box-shadow: -10px 10px 5px rgba(13, 9, 10, 0.5);
  margin-bottom: 20px;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
main {
  background-color: var(--mainbg);
  box-shadow: -10px 10px 5px rgba(13, 9, 10, 0.5);
  padding: 10px;
}
footer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: var(--mainbg);
  margin-top: 20px;
  padding: 15px;
  box-shadow: -10px 10px 5px rgba(13, 9, 10, 0.5);
  text-align: center;
}

/* HEADINGS */
h1 {
  color: var(--header);
  font-size: 2.5rem;
  margin: 0;
  font-weight: normal;
  font-variant-caps: all-small-caps;
}
h2 {
  color: var(--header2);
  font-size: 2.25rem;
  margin: 0;
  font-weight: normal;
  font-variant-caps: all-small-caps;
}
h3 {
  color: var(--field);
  font-size: 1.9rem;
  margin: 0;
  font-weight: normal;
  font-variant-caps: all-small-caps;
}
/* HORIZONTAL LINE / DIVIDER */
hr {
  color: var(--field);
}

/* LINKS */
h1 a {
  color: var(--header);
}
h1 a:hover {
  color: var(--link);
}
h2 a {
  color: var(--header2);
}
h2 a:hover {
  color: var(--linkhover);
}
h3 a {
  color: var(--field);
}
h3 a:hover {
  color: var(--linkhover);
}
nav a {
  color: var(--navlink);
}
a {
  color: var(--link);
}
a:hover {
  color: var(--linkhover);
}

/* DETAILS + SUMMARY TOGGLE */
/* CURRENTLY UNUSED BUT MAYBE I'LL FIND A USE FOR THEM... */
.toggle-header {
  color: #593d20;
  font-size: 1.7rem;
  font-weight: normal;
  font-variant-caps: all-small-caps;
  cursor: pointer;
}
details > summary {
  list-style-type: '✦';
}
details[open] > summary {
  list-style-type: '✧';
}

/* HEADER CONTENT */
.header-line {
  background:linear-gradient(to right, var(--field) 0%, rgba(0, 0, 0, 0) 60%);
  height: 2px;
  margin-bottom: 10px;
}
/* FOOTER CONTENT */
.signature {
  margin-bottom: 0;
  color: var(--header);
  text-align: center;
}

/* LINKS CRUMB */
.crumb {
  list-style: none;
  padding: 0px;
  margin: 0px 0px 15px 0px;
}
.crumb li {
  display: inline;
  font-size: 0.75rem;
}
.crumb li+li:before {
  content: "\003E";
  padding:5px;
}

/* FIELD WITH HEADING BOX */
.field {
  margin: auto;
  border: 2px solid var(--field);
  max-width: 1000px;
}
.field-heading {
  background-color: var(--field);
  color: var(--bodytxt);
  font-variant-caps: initial;
  text-align: center;
  margin: 0;
}
.field-body {
  padding: 15px;
  margin: 0;
}

/* OTHER FORMATTING CLASSES */
.notebox {
  max-width: 80%;
  margin: auto;
  background-color: var(--notebg);
  padding: 10px;
  border: 2px solid var(--field);
}
.whisper {
  color: #bfbdcc;
  font-style: italic;
}
.blockquote {
  border-left: 3px #62709c solid;
  font-style: italic;
  padding-left: 10px;
}

/* CHARACTER PAGES */
/* index page */
.char-select {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.char-link {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.char-link img {
  max-height: 140px;
}
/* distinguish protagonists from other character links ? */
.protag {
  max-height: 160px !important;
}
/* individual pages */
.char-toc {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border: 2px solid var(--field);
  width: fit-content;
}
.char-toc ul{
  list-style: lower-roman;
}
.char-toc ul li{
  margin-bottom: 5px;
}
.char-side {
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 5px;
  float: right;
  border: 2px solid var(--field);
  margin-left: 5px;
  margin-bottom: 5px;
  width: 350px;
}
.side-table {
  border-bottom: 2px solid var(--field);
  border-collapse: collapse;
}
.side-table td{
  border-bottom: 2px solid var(--field);
  padding: 5px;
}

/* ARACELI'S JOURNAL */
.secret-link {
  text-decoration: none !important;
  color: inherit !important;
  cursor: initial !important;
}

.lunar-body {
  background-image: none;
  background-color: #454a61;
}
.lunar-main {
  background-color: initial;
  box-shadow: initial;
  max-width: 550px;
}
.lunar-page {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  height: 650px;
  overflow: auto;
  scrollbar-width: none;
  filter: drop-shadow(5px 3px 7px rgba(0, 0, 0, 0.7));
  box-shadow:inset 0px 0px 30px #200716;
  background-color: #c0ad98;
  box-shadow: initial;
  max-width: 550px;
  color: #593d20;
  font-family: Caveat;
  font-size: 1.5em;
}
.lunar-cover {
  margin-left: auto;
  margin-right: auto;
  background-color: #491e29;
  background-image: url("res/lunar.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  height: 650px;
  filter: drop-shadow(5px 3px 7px rgba(0, 0, 0, 0.7));
  box-shadow:inset 0px 0px 30px #200716;
}
.lunar-page p {
  margin: 0px;
}
.lunar-lined {
  background: linear-gradient(0deg, rgba(92, 57, 30, 0.7) 1.92%, transparent 1.92%, transparent 50%, rgba(92, 57, 30, 0.7) 50%, rgba(92, 57, 30, 0.7) 51.92%, transparent 51.92%, transparent 100%);
  background-size: 60.00px 60.00px;
  line-height: 30px
}

/* LUNCHTIME */
.lunchtime-char {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px
}
/* GALLERY */
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 5px;
}
.gallery-img {
  height: 160px;
  width: fit-content;
  transition: transform 0.25s ease;
  text-align: center;
  outline: 3px solid #36436e;
  outline-offset: -3px;
  background-color: #29191f6e;
  margin-bottom: 20px
}
.gallery-img:hover {
  cursor: pointer;
}
.gallery-img img {
  height: 100%;
  width: auto;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #00000081;
  max-height: 100%;
}
.modal-content {
  position: relative;
  background-color: #62687c;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}
.slide {
  display: none;
  text-align: center;
}
.slide img {
  max-height: 700px;
  max-width: 1200px
}
.close {
  color: #40ccff;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s ease;
  padding: 5px 11px 8px 11px;
}
.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #40ccff;
  font-weight: bold;
  transition: 0.4s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  font-size: 35px;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.caption {
  text-align: center;
  background-color: #242b42;
  padding: 2px 16px;
  color: white;
}
.credit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* SPOILER TEXT SWAP */
.spoiler {
  display: none;
}
#spoiler-button:hover {
  cursor: pointer;
  color: var(--linkhover) !important;
}

/* MOBILE ONLY */
@media (max-width: 768px) {
  header {
    height: auto;
    background-size: cover;
    background-position: right;
  }
  nav {
    flex-direction: column;
    gap: 10px
  }
  h1 {
    font-size: 2.3rem;
  }
  h2 {
    font-size: 2.15rem;
  }
  .char-toc {
    margin: auto;
  }
  .char-side {
    margin: auto;
    float: initial;
    max-width: 100%;
  }
  
  .gallery-img {
    height: 110px;
  }
  .slide img {
    max-width: 340px;
    max-height: 600px;
  }
  .modal-content {
    top: 10%;
    font-size: 0.8em;
  }

  .lunchtime-char {
    grid-template-columns: auto;
  }
  
}
/* SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #140a03;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #c5ab92;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #bd8f89;
}
/* HEADER TEXT OUTLINE */
.text-outline {
  text-shadow: 
  rgb(0, 0, 0) 3px 0px 0px, 
  rgb(0, 0, 0) 2.83487px 0.981584px 0px, 
  rgb(0, 0, 0) 2.35766px 1.85511px 0px, 
  rgb(0, 0, 0) 1.62091px 2.52441px 0px, 
  rgb(0, 0, 0) 0.705713px 2.91581px 0px, 
  rgb(0, 0, 0) -0.287171px 2.98622px 0px, 
  rgb(0, 0, 0) -1.24844px 2.72789px 0px, 
  rgb(0, 0, 0) -2.07227px 2.16926px 0px, 
  rgb(0, 0, 0) -2.66798px 1.37182px 0px, 
  rgb(0, 0, 0) -2.96998px 0.42336px 0px, 
  rgb(0, 0, 0) -2.94502px -0.571704px 0px, 
  rgb(0, 0, 0) -2.59586px -1.50383px 0px, 
  rgb(0, 0, 0) -1.96093px -2.27041px 0px, 
  rgb(0, 0, 0) -1.11013px -2.78704px 0px, 
  rgb(0, 0, 0) -0.137119px -2.99686px 0px, 
  rgb(0, 0, 0) 0.850987px -2.87677px 0px, 
  rgb(0, 0, 0) 1.74541px -2.43999px 0px, 
  rgb(0, 0, 0) 2.44769px -1.73459px 0px, 
  rgb(0, 0, 0) 2.88051px -0.838247px 0px;
}


/* FONT */
@font-face {
  font-family: Caveat;
  src: url(lunar/font_caveat/Caveat-VariableFont_wght.ttf);
}