/* MAIN SITE */
body {
  background-color: #2b153a;
  background-image: url("res/background.png");
  background-position: center;
  color: #000000;
  font-family: Arial;
}
header {
  max-width: 1000px;
  background-color: #411157;
  margin: 25px auto;
  padding: 15px;
  border-radius: 10px;
  border: 8px double #000000;
  box-shadow: -8px 8px 5px rgba(8, 17, 68, 0.3);
}
main {
  max-width: 1000px;
  background-color: #bfb4c2;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  border-radius: 10px;
  border: 8px double #000000;
  box-shadow: -8px 8px 5px rgba(8, 17, 68, 0.3);
}
/* HEADINGS */
h1 {
  color: #411157;
  font-size: 2.5rem;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: normal;
  font-variant-caps: all-small-caps;
}
h2 {
  color: #3e0a83;
  font-size: 2.3rem;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: normal;
  font-variant-caps: all-small-caps;
}
h3 {
  color: #5c4db4;
  font-size: 2.0rem;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: normal;
  font-variant-caps: all-small-caps;
}
/* HEADER */
header a {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
}
header a:hover {
  color: #ca2020;
  background-color: transparent;
}
header a:hover:before, header a:hover:after {
  content: "✨";
}
a {
  color: #6c1eff;
}
a:hover {
  color: #ca2020;
}
.navlinks {
  display:flex; 
  flex-direction:row;
  justify-content:space-around;
}
.highlight {
  font-weight: bold;
  color: #411157;
}
.winterpic-box {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center
}
.winterpic-pic {
  max-width: 50%;
  border: 3px solid #411157;
}
/* MOBILE ONLY */
@media (max-width: 768px) {
  .navlinks {
    flex-direction:column;
    justify-content:space-around;
    text-align:center;
  }
  .winterpic-box {
    flex-direction: column;
  }
  .winterpic-pic {
    max-width: 100%
  }
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #2b153a;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #6c1eff;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ca2020;
}